<extend name="AdminPublic/public"/>
<block name="useredit">
<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span>用户修改</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="__MODULE__/User/update" method="post"> 
        <input type="hidden" value="{$user['id']}" name="id">
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">用户名</label> 
       <div class="mws-form-item"> 
        <input class="small" type="text" name="username" value="{$user['username']}"/> 
       </div> 
      </div> 
      
      <div class="mws-form-row"> 
       <label class="mws-form-label">年龄</label> 
       <div class="mws-form-item"> 
        <input class="small" type="text" name="age" value="{$user['age']}"/> 
       </div> 
      </div> 

      <div class="mws-form-row"> 
       <label class="mws-form-label">性别</label> 
       <div class="mws-form-item"> 
        <td><input type="radio" name="sex" value="1" <if condition="$user.sex eq 1">checked</if>/>男 
          <input type="radio" name="sex" value="2" <if condition="$user.sex eq 2">checked</if>/>女</td>
       </div> 
      </div> 

      <div class="mws-form-row"> 
       <label class="mws-form-label">电话</label> 
       <div class="mws-form-item"> 
        <input class="small" type="text" name="phone" value="{$user['phone']}"/> 
       </div> 
      </div> 

      <div class="mws-form-row"> 
       <label class="mws-form-label">邮箱</label> 
       <div class="mws-form-item"> 
        <input class="small" type="text" name="email" value="{$user['email']}"/> 
       </div> 
      </div> 

      <div class="mws-form-row"> 
       <label class="mws-form-label">状态</label> 
       <div class="mws-form-item"> 
        <input class="small" type="text" name="status" value="{$user['status']}"/> 
       </div> 
      </div> 
       
     </div> 
     <div class="mws-button-row"> 
         
      <input value="提交" class="btn btn-danger" type="submit" /> 
      <input value="重置" class="btn " type="reset" /> 
     </div> 
    </form> 
   </div> 
  </div>
 </body>
</html>
</block>
<block name="title">后台用户添加</block>