<extend name="AdminPublic/public"/>
<block name="userindex">
<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span><i class="icon-table"></i>用户列表</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">

    <form action="__MODULE__/User/userindex" method="get">
     <div class="dataTables_filter" id="DataTables_Table_1_filter">
      <label>搜索: 用户名:<input aria-controls="DataTables_Table_1" type="text" name="username" value="{$list['username'] or ''}"/></label><input type="submit" value="搜索">
     </div>
    </form>
    <div id="users">
     <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info"> 
      <thead> 
       <tr role="row">
        <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 141px;" aria-sort="descending" aria-label="Rendering engine: activate to sort column ascending">ID</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 193px;" aria-label="Browser: activate to sort column ascending">用户名</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 193px;" aria-label="Browser: activate to sort column ascending">年龄</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 193px;" aria-label="Browser: activate to sort column ascending">性别</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 193px;" aria-label="Browser: activate to sort column ascending">电话</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 179px;" aria-label="Platform(s): activate to sort column ascending">邮箱</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 120px;" aria-label="Engine version: activate to sort column ascending">状态</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 86px;" aria-label="CSS grade: activate to sort column ascending">操作</th>
       </tr> 
      </thead> 
      <tbody role="alert" aria-live="polite" aria-relevant="all">
      
      <foreach name="list" item="row">
       <tr class="odd"> 
        <td class="  sorting_1">{$row['id']}</td> 
        <td class=" ">{$row['username']}</td>
        <td class=" ">{$row['age']}</td>
        <td class=" "><if condition="$row.sex eq 1">男</if><if condition="$row.sex eq 2">女</if></td>

        <td class=" ">{$row['phone']}</td>
        <td class=" ">{$row['email']}</td><td class=" ">{$row['status']}</td>
        <td class=" "><a href="__MODULE__/User/userdel?id={$row['id']}" class="btn btn-success"><i class="icon-trash"></i></a><a href="__MODULE__/User/useredit?id={$row['id']}" class="btn btn-info"><i class="icon-wrench"></i></a></td> 
       </tr>
      </foreach>

      </tbody>
     </table>
   </div>
     
     <div class="dataTables_paginate paging_full_numbers" id="pages">
       
       {$page}
        
     </div>
    </div> 
   </div> 
  </div>
 </body>
 <script type="text/javascript">
   function page(page){
    //Ajax
    $.ajax({
      type:'get',
      url:'/admins/user/index/',
      data:{page:page},
      success:
      function(data){
        //把响应数据赋值给id=users的div
        if(data){
           $("#users").html(data);
        }
      }
    })
   }
 </script>
</html>
</block>
<block name="title">后台用户列表</block>