<extend name="AdminPublic/public" />
<block name="orderxiangqing">
<html>
 <head></head>
 <script type="text/javascript" src="__PUBLIC__/b/js/jquery-1.8.3.min.js"></script>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span><i class="icon-table"></i> 订单详情列表</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
     <form action="/admins/user/index" method="get">
      <div class="dataTables_filter" id="DataTables_Table_1_filter">
        <label>搜索: <input aria-controls="DataTables_Table_1" type="text" name="keywords" value="{{$request['keywords'] or ''}}"/></label><input type="submit" value="搜索">
      </div>
     </form>

     <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info"> 
      <thead> 
       <tr role="row">
        

        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 160px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">图片</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">商品名</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">类型</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">颜色</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">数量</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">价格</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">订单号</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">添加时间</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">收货人</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">地址</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">电话</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">邮编</th>
          <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">留言</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">状态</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 98px;" aria-label="CSS grade: activate to sort column ascending">操作</th>
       </tr> 
      </thead> 
      <tbody role="alert" aria-live="polite" aria-relevant="all">
      	
        <tr class="odd"> 

        <td class=" "><img src="__PUBLIC__/{$row['pic']}"></td>
         <td class=" ">{$data['shopname']}</td>
         <td class=" ">{$data['type']}</td>
         <td class=" ">{$data['color']}</td>
        <td class=" ">{$data['num']}</td>
        <td class=" ">{$data['price']}</td>
        <td class=" ">{$data['number']}</td>
        <td class=" ">{$data['addtime']}</td>
        <td class=" ">{$data['name']}</td>
         <td class=" ">{$data['address']}</td>
         <td class=" ">{$data['phone']}</td>
         <td class=" ">{$data['code']}</td>
         <td class=" ">{$data['liuyan']}</td>
          <td class=" ">{$data['status']}</td>
        <td class=" "><a href="/admins/order/delete/" class="btn btn-success"><i class="icon-trash"></i></a><a href="/admins/order/edit" class="btn btn-info"><i class="icon-wrench"></i></a></td> 
       </tr>
      
       <tr>
        <td colspan="13"><a href="javascript:void(0)" class="alldel">全选</a> <a href="javascript:void(0)" class="nodel">全不选</a><a href="javascript:void(0)" class="fdel">反选</a></td>
       </tr>
        <tr>
        <td colspan="13"><a href="javascript:void(0)" class="dodel">删除</a></td>
       </tr>
      </tbody>
     </table>
     
     <div class="dataTables_paginate paging_full_numbers" id="pages">
      {$page}
    </div>
    </div> 
   </div> 
  </div>
 </body>
  <script type="text/javascript">
 // alert($);
 //全选
 $(".alldel").click(function(){
  // alert('sss');
  $("#DataTables_Table_1").find('tr').each(function(){
    // alert('sss');
    $(this).find(":checkbox").attr('checked',true);
  })
 })

 //全不选
 $(".nodel").click(function(){
  $("#DataTables_Table_1").find('tr').each(function(){
    $(this).find(':checkbox').attr('checked',false);
  })
 })
 //反选
 $(".fdel").click(function(){
  $("#DataTables_Table_1").find('tr').each(function(){
    if($(this).find(":checkbox").attr('checked')){
      $(this).find(":checkbox").attr('checked',false);
    }else{
      $(this).find(":checkbox").attr('checked',true);
    }
  })
 })

 //获取删除 绑定单击事件
 $(".dodel").click(function(){
  // alert('ss');exit;
  a=[];//存储选中数据的id值
  //获取选中数据的id
  $(":checkbox").each(function(){
    //判断是否被选中  this代表所有复选框
    if($(this).attr('checked')){
      //获取id
      id=$(this).val();
      // alert(id);exit;
      a.push(id);  //把id放进a数组里
    }
  })

   // alert(a);exit;
  //Ajax $.get()
s=confirm('你确定删除吗?');
  if(s){
     $.get('/dodell',{uname:a},function(data){
     // alert(data);
    if(data==1){
      // alert('删除成功');
      //删除html样式
      for(var i=0;i<a.length;i++){
        //获取被选中的input

        $("input[value="+a[i]+"]").parents('tr').remove();
      }

    }
  });
  }

 
 })

 </script>
</html>
</block>
<block name="title">订单详情</block>