<extend name="AdminPublic/public" />
<block name="commentindex">
<html>
 <head></head>
 <script type="text/javascript" src="/b/js/jquery-1.8.3.min.js"></script>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span><i class="icon-table"></i> 评论列表</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
      <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info"> 
      <thead> 
       <tr role="row">
        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 160px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">全选</th>
        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 160px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 208px;" aria-label="Browser: activate to sort column ascending">评论用户</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 195px;" aria-label="Platform(s): activate to sort column ascending">评论商品</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 195px;" aria-label="Platform(s): activate to sort column ascending">评论内容</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 135px;" aria-label="Engine version: activate to sort column ascending">图片</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 135px;" aria-label="Engine version: activate to sort column ascending">评论时间</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 98px;" aria-label="CSS grade: activate to sort column ascending">操作</th>
       </tr> 
      </thead> 
      <tbody role="alert" aria-live="polite" aria-relevant="all">
        <foreach name="list" item="row">
       <tr class="odd"> 
        <td class="  sorting_1"><input type="checkbox" value="{$row['id']}"></td> 
        <td class="  sorting_1">{$row['id']}</td> 
        <td class=" ">{$row['user_id']}</td> 
        <td class=" ">{$row['shop_id']}</td>
        <td class=" ">{$row['content']}</td> 
        <td class=" "><img src="__PUBLIC__/{$row['pic']}" width="100px" height="100px"></td> 
        <td class=" ">{$row['addtime']}</td>
        <td class=" "><a href="__MODULE__/Comment/delete?id={$row['id']}" class="btn btn-success"><i class="icon-trash"></i></a><a href="__MODULE__/Comment/edit?id={$row['id']}" class="btn btn-info"><i class="icon-wrench"></i></a></td> 
       </tr>
      </foreach>
       <tr><td colspan="9"><a href="javascript:void(0)" class="alldel">全选</a> <a href="javascript:void(0)" class="nodel">全不选</a><a href="javascript:void(0)" class="fdel">反选</a></td></tr>
       <tr><td colspan="9"><a href="javascript:void(0)" class="dodel">删除</a></td></tr>
      </tbody>
     </table>
     <div class="dataTables_paginate paging_full_numbers" id="pages">
        {$page}
     </div>
    </div> 
   </div> 
  </div>
 </body>
 <script type="text/javascript">
  // alert($);
  //全选
    $(".alldel").click(function(){
      $("#DataTables_Table_1").find('tr').each(function(){
        $(this).find(":checkbox").attr('checked',true);
      })
    })
  //全不选
   $(".nodel").click(function(){
      $("#DataTables_Table_1").find('tr').each(function(){
        $(this).find(':checkbox').attr('checked',false);
      })
   })
  //反选
 $(".fdel").click(function(){
  $("#DataTables_Table_1").find('tr').each(function(){
    if($(this).find(":checkbox").attr('checked')){
      $(this).find(":checkbox").attr('checked',false);
    }else{
      $(this).find(":checkbox").attr('checked',true);
    }
  })
 })
 //获取删除 绑定单击事件
  $(".dodel").click(function(){
    a=[];//存储选中数据的id值
    // alert('sss');
    //获取选中数据的id
    $(":checkbox").each(function(){
      //判断是否被选中
      if($(this).attr('checked')){
        //获取id
        id=$(this).val();
        // alert(id);
        a.push(id);
      }
    })

    // alert(a);
    //Ajax $.get()
    s=confirm('你确定删除吗?');
    if(s){
        $.get('/comments/dodel',{uname:a},function(data){
          // alert(data);
          if(data==1){
            // alert('删除成功');
            //删除html样式
            for(var i=0;i<a.length;i++){
              //获取被选中的input
              $("input[value="+a[i]+"]").parents('tr').remove();
            }
          }
      });
  }
 })
</script>
</html>
</block>
<block name="title">评论列表</block>